@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .if-pc-decoration {
        box-sizing: border-box;
        outline: #3b82f6 2px solid;
        outline-offset: -2px;
    }

    .id-pc-decoration {
        box-sizing: border-box;
        outline: #d97706 2px solid;
        outline-offset: -2px;
    }
}
